
/* common elements */
body {
  color: #666666;
}
a {
  color: #6688CC;
}

table {
  width: 100%;
}

/* common spacing */
#site-header,
#site-subheader,
#footer-region,
.column,
.column .block,
.node,
.comment {
  margin-bottom: 20px;
}

/* site header */
#site-header {
  padding-top: 10px;
  padding-bottom: 17px;
  border-bottom-width: 3px;
  border-style: solid;
}
#brand-id {
  margin-bottom: 0;
}
#site-menu {
  margin-bottom: 10px;
}
#site-menu ul.main-menu,
#site-menu ul.secondary-menu {
  display: block;
  margin: 0;
}
#search-box .container-inline {
  white-space: nowrap;
}
/* Copied from Drupal 7's .element-invisible class. */
#search-box label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* content footer */
.item-list .pager {
  text-align: inherit;
}
.item-list .pager li {
  margin: 0;
}

/* footer */
#footer {
  padding-top: 17px;
  padding-bottom: 10px;
  border-top-width: 3px;
  border-style: solid;
}

/*
** Small alignment changes for administration page.
** The default admin panel styles unintentionally clears in IE6.
*/
div.admin .left,
div.admin .right {
  width: 50%;
  margin: 0;
}
div.admin * .admin-panel {
  padding: 0;
}
div.admin .left .admin-panel {
  margin-right: 10px;
}
div.admin .right .admin-panel {
  margin-left: 10px;
}

/* Screen shots in theme selection table aligned by baseline due to reset.css. */
td img.screenshot {
  vertical-align: top;
}
