/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 1560px;
}

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 1560px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .grid-1 {
  width: 110px;
}

.container-12 .grid-2 {
  width: 240px;
}

.container-12 .grid-3 {
  width: 370px;
}

.container-12 .grid-4 {
  width: 500px;
}

.container-12 .grid-5 {
  width: 630px;
}

.container-12 .grid-6 {
  width: 760px;
}

.container-12 .grid-7 {
  width: 890px;
}

.container-12 .grid-8 {
  width: 1020px;
}

.container-12 .grid-9 {
  width: 1150px;
}

.container-12 .grid-10 {
  width: 1280px;
}

.container-12 .grid-11 {
  width: 1410px;
}

.container-12 .grid-12 {
  width: 1540px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .prefix-1 {
  padding-left: 130px;
}

.container-12 .prefix-2 {
  padding-left: 260px;
}

.container-12 .prefix-3 {
  padding-left: 390px;
}

.container-12 .prefix-4 {
  padding-left: 520px;
}

.container-12 .prefix-5 {
  padding-left: 650px;
}

.container-12 .prefix-6 {
  padding-left: 780px;
}

.container-12 .prefix-7 {
  padding-left: 910px;
}

.container-12 .prefix-8 {
  padding-left: 1040px;
}

.container-12 .prefix-9 {
  padding-left: 1170px;
}

.container-12 .prefix-10 {
  padding-left: 1300px;
}

.container-12 .prefix-11 {
  padding-left: 1430px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .suffix-1 {
  padding-right: 130px;
}

.container-12 .suffix-2 {
  padding-right: 260px;
}

.container-12 .suffix-3 {
  padding-right: 390px;
}

.container-12 .suffix-4 {
  padding-right: 520px;
}

.container-12 .suffix-5 {
  padding-right: 650px;
}

.container-12 .suffix-6 {
  padding-right: 780px;
}

.container-12 .suffix-7 {
  padding-right: 910px;
}

.container-12 .suffix-8 {
  padding-right: 1040px;
}

.container-12 .suffix-9 {
  padding-right: 1170px;
}

.container-12 .suffix-10 {
  padding-right: 1300px;
}

.container-12 .suffix-11 {
  padding-right: 1430px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .push-1 {
  left: 130px;
}

.container-12 .push-2 {
  left: 260px;
}

.container-12 .push-3 {
  left: 390px;
}

.container-12 .push-4 {
  left: 520px;
}

.container-12 .push-5 {
  left: 650px;
}

.container-12 .push-6 {
  left: 780px;
}

.container-12 .push-7 {
  left: 910px;
}

.container-12 .push-8 {
  left: 1040px;
}

.container-12 .push-9 {
  left: 1170px;
}

.container-12 .push-10 {
  left: 1300px;
}

.container-12 .push-11 {
  left: 1430px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .pull-1 {
  left: -130px;
}

.container-12 .pull-2 {
  left: -260px;
}

.container-12 .pull-3 {
  left: -390px;
}

.container-12 .pull-4 {
  left: -520px;
}

.container-12 .pull-5 {
  left: -650px;
}

.container-12 .pull-6 {
  left: -780px;
}

.container-12 .pull-7 {
  left: -910px;
}

.container-12 .pull-8 {
  left: -1040px;
}

.container-12 .pull-9 {
  left: -1170px;
}

.container-12 .pull-10 {
  left: -1300px;
}

.container-12 .pull-11 {
  left: -1430px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container-12:before,
.container-12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container-12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container-12 {
  zoom: 1;
}
