.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  margin-left: 10px;
  margin-right: 10px;
}

.align-center,
.align-right {
  text-align: left;
}
